.linkstyle{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 400;
     transition: color ease 3s; 
}
.linkstyle:hover{
    color: red;
}
.navstyle{
   
     background-image: linear-gradient(to bottom rgba(0,0,0,1)0%,rgba(0,0,0,0)100%); 
     position: absolute;
     top:1px;
     z-index: 2;
     width: 100%;
    
}
.main-part{
   background-image: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=600');
    /* background-size: cover;  */
   position: relative;
}
.teamsbgimage{
    background-image: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=600');
    padding-top: 50px;
}
.playerbgstyle{
    background-image: url('https://wallpapercave.com/wp/wp3402735.jpg');
    background-size: cover;
    padding-top: 50px;
}
.addplayertoteamstyle{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtm2t-mW6N5EtTY1oOH6BZDxkU5aOUB8BJrA&usqp=CAU');
    padding-top: 50px;
}